/* IBM Mono (Sans) */
@font-face {
  font-family: 'Cabin';
  src: url('../fonts/Cabin-Regular.woff') format('woff'),
      url('../fonts/Cabin-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url('../fonts/Cabin-Bold.woff') format('woff'),
      url('../fonts/Cabin-Bold.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: bold;
}